<button data-test-button={{style}}
  local-class="ui-button {{style}}"
  disabled={{or disabled isLoading}}
  type={{type}}
  onclick={{action 'click'}}>
  {{#if isLoading}}
    {{loading-spinner}}
  {{/if}}
  {{yield}}
</button>