<div local-class="dropdown">
  {{#ember-tether
      target=attachTo
      targetAttachment='bottom left'
      attachment='top left'
    }}
    {{#animated-container}}
      {{#animated-if isOpen use=fade duration=fadeInDuration}}
        <div local-class="dropdown-inner" role="listbox" style={{dropdownStyle}} data-test-dropdown>
          {{#if isLoading}}
            <div local-class="loading">
              {{loading-spinner}} <i>{{loadingText}}</i>
            </div>
          {{/if}}
          {{#if errorText}}
            <div local-class="error">
              <svg
                width="25"
                height="25"
                viewBox="0 0 1792 1792">
                <path d="M896 128q209 0 385.5 103t279.5 279.5 103 385.5-103 385.5-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103zm128 1247v-190q0-14-9-23.5t-22-9.5h-192q-13 0-23 10t-10 23v190q0 13 10 23t23 10h192q13 0 22-9.5t9-23.5zm-2-344l18-621q0-12-10-18-10-8-24-8h-220q-14 0-24 8-10 6-10 18l17 621q0 10 10 17.5t24 7.5h185q14 0 23.5-7.5t10.5-17.5z"/>
              </svg>
              {{errorText}}
            </div>
          {{/if}}

          <ul>
            {{#each options use=transition as |option|}}
              {{#ui-dropdown/-item
                  isActive=(eq option activeOption)
                  onClick=(action onSelect option)
                  onMouseEnter=(action 'setActive' option)
                  onMouseLeave=(action 'setActive' null)
                  aria-owns=attachTo.id
                }}
                {{#if hasBlock}}
                  {{yield option}}
                {{else}}
                  {{component optionComponent model=option}}
                {{/if}}
              {{/ui-dropdown/-item}}
            {{else if didSearch}}
              <li local-class="no-result" data-test-no-result>{{noResultText}}</li>
            {{/each}}
          </ul>

          {{#if onCreate}}
            <button data-test-create-btn
                local-class="create-btn"
                type="button"
                aria-owns={{attachTo.id}}
                {{action onCreate}}>
              {{createText}}
            </button>
          {{/if}}
        </div>
      {{/animated-if}}
    {{/animated-container}}
  {{/ember-tether}}
</div>