{{#customer-search
    onSelect=(action 'select')
    onCreate=(action 'create') as |search keyword|}}

  <div local-class="input-group {{if search.isOpen 'is-open'}}">
    <img data-test-icon src="assets/icon-customer.png" alt="Customer" />

    {{#if customer}}
      {{assign-customer/btn-edit
          label=(concat customer.firstName ' ' customer.lastName)
          onClick=(action 'edit')}}
      {{assign-customer/btn-remove
          onClick=(action 'remove')}}
    {{else}}
      {{search.trigger placeholder="Assign customer"}}
    {{/if}}

  </div>

  {{#search.dropdown as |option|}}
    {{ui-customer-card model=option highlight=keyword}}
  {{/search.dropdown}}

{{/customer-search}}